.header {
  background-color: black;
  color: white;
  margin-bottom: 60px;

}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.header-link {
  color: white;
  text-decoration: none
}

.header-title {
  color: white;

}